python-telegram-bot
python-telegram-bot[job-queue]
python-dotenv
psycopg2
discord-webhook

kaleido
numpy
pandas
plotly

google-api-python-client==1.7.9
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0